.m-controls {
  margin: 20px auto;
}

.m-transcript {
  margin: 20px auto;
  max-height: 150px;
  overflow: scroll;
  span {
    display: block;
    margin: 10px 0;
  }
}

body.modal-open {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba($color-body, .9);
    z-index: 10000;
  }
}

.m-wave {
  margin: 20px auto;
}

.m-modal {
  display: none;
  position: absolute;
  width: 80%;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  max-width: 500px;
  z-index: 100000;
}