input {
  padding: 8px;
}

textarea {
  width: 100%;
  min-height: 150px;
}

.p-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  background: $color-main;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.p-submit {
  display: block;
  width: 100%;
}
.p-instruction {
  font-style: italic;
  font-size: 14px;
  margin: 0;
  color: lighten($color-body, 10%);
}
.p-current {
  color: $color-secondary;
}