@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,400italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-body;
}

button {
  border: 0;
  text-transform: uppercase;
  background: $color-main;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  &:hover {
    transition: background .1s;
    background: darken($color-main, 10);
  }
}

h1,h2,h3,h4,h4 {
  font-weight: 900;
}

h1 {
  font-size: 50px;
  text-align: center;
}