@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900,400italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-body;
}

button,
.p-submit {
  border: 0;
  text-transform: uppercase;
  background: $color-main;
  padding: 10px 10px 5px 10px;
  text-align: center;
  font-weight: 600;
  border-bottom: 5px solid darken($color-main, 10);
  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  &:hover {
    transition: background .1s;
    background: darken($color-main, 10);
    border-color: $color-main;
  }
}

h1,h2,h3,h4,h4 {
  font-weight: 900;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  border-bottom: 3px solid $color-secondary;
  padding: 5px 0;
  margin: 50px 0 5px 0;
}