---
title: Welcome to Clipper
---

<div>
  <h1>Clipper</h1>
  <div id="wave"></div>
  <button id="playRegion">play region</button>
  <button id="play">play from scrubber</button>
  <button id="pause">pause</button>
</div>