---
title: Welcome to Clipper
---

<div class="welcome">
  <h1>Clipper</h1>


  <div id="wave">

  </div>
<script>
  var wavesurfer = Object.create(WaveSurfer);

  wavesurfer.init({
  container: document.querySelector('#wave'),
  waveColor: 'violet',
  progressColor: 'purple'
  });

  wavesurfer.on('ready', function () {
  wavesurfer.play();
  });

  wavesurfer.load('resources/cookie-sample.mp3');
</script>

  <p>
    I think we, we ran roughshod over the notion that your parents could send you wasabi, in a little care package.
    My son's away in Virginia and I feel like I go a lot of effort to send him cookies sometimes.
  </p>
</div><!-- .welcome -->