---
title: Welcome to Clipper
---

<div class="welcome">
  <h1>Clipper</h1>
  <audio controls>
    <source src="resources/cookie-sample.mp3" type="audio/mpeg">
  </audio>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->